.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
.card{
    height: 480px;
    width: 340px;
    border-radius: 40px;
    background-color: $background_rgba;
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    animation: shadow_card 6s infinite alternate;
    position: relative;
    overflow: hidden;

}

.image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name_hero{
    padding: 10px;
    font-family: goldman, cursive;
    font-size: 40px;
    font-weight: 700;
}
.description{
    line-height: 25px;
    letter-spacing: 1px;
    font-family: goldman, cursive;
    font-weight: 400;
    max-height: 200px;
    overflow: hidden;
}
.see{
    color: white;
    font-family: goldman, cursive;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 20px;
    animation: button_dashed 6s infinite alternate ease;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
}
.container_button{
    width: 100%!important;
    display: flex;
    justify-content: center;
    margin: 100px 0;
    .button_home{
        color: white;
        font-family: goldman, cursive;
        font-size: 20px;
        font-weight: 700;
        border-radius: 10px;
        padding: 10px 20px;
        animation-name: clignote, button_dashed;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-duration: 0.6s, 6s;
        background-color: $background_rgba;
        text-align: center;
    }
}
