input{
    min-width: 300px;
    padding: 20px;
    border-radius: 15px;
}
label{
    margin-right: 15px;
}
.container_update{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_update{
    width: 80%;
    min-height: 500px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background_rgba;
    animation: shadow_card 6s infinite alternate;
    border-radius: 40px;
    color: white;
    margin-bottom: 100px;
}
.upload_image{
    color:white;
    padding:20px;

}
.image_update{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: button_dashed 6s infinite alternate ease;
}
.name_hero_update{
    background: linear-gradient(45deg, rgb(0, 255, 0), cyan, rgb(255, 0, 200),yellow, blue, rgb(183, 0, 255), rgb(0, 255, 0), cyan);
    background-size: 200%;
    animation: background 5s alternate infinite;
    width: 100%;
    color: black;
    padding : 20px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 20px;
}
.short_description_update{
    background: linear-gradient(45deg, rgb(0, 255, 0), cyan, rgb(255, 0, 200),yellow, blue, rgb(183, 0, 255), rgb(0, 255, 0), cyan);
    background-size: 200%;
    animation: background 5s alternate infinite;
    width: 100%;
    color: black;
    padding : 20px;
    border-radius: 20px;
    margin: 20px 0 20px 0;
}
.description_update{
    background: linear-gradient(45deg, rgb(0, 255, 0), cyan, rgb(255, 0, 200),yellow, blue, rgb(183, 0, 255), rgb(0, 255, 0), cyan);
    background-size: 200%;
    animation: background 5s alternate infinite;
    width: 100%;
    color: black;
    padding : 20px;
    border-radius: 20px;
}
.text_user{
    line-height: 30px;
}
.button_edit{
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 20px;
    animation-name: clignote_blue, button_dashed_blue;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 0.6s, 6s;
    background-color: $background_rgba_blue; 
    &:hover{
        background-color: rgba(0, 0, 255, 0.562);
        color: white;
        border: none;
        animation: none;
    }
}