$background_rgba : rgba(0, 0, 0, 0.733);
$background_rgba_blue : rgba(0, 1, 41, 0.733);
$background_rgba_red : rgba(70, 0, 0, 0.733);
$background_light_rgba : rgba(231, 128, 185, 0.623);
$background_very_light_rgba : rgba(236, 154, 199, 0.767);
$border_pink : rgb(255, 213, 236);
